In [146]:
import PyPDF2
import pandas as pd
import numpy as np

rates = pd.DataFrame(columns=["suburb", "oldhouse", "newhouse", "oldunit", "newunit"])
rates.set_index("suburb", inplace=True)

def strip_text(text):
    return text.replace(",", "").replace("$", "").replace("%", "").replace("-", "")

def fill_table(suburb, strings):
    rates.at[suburb, "oldhouse"] = strip_text(strings[0])
    rates.at[suburb, "newhouse"] = strip_text(strings[1])
    if (strip_text(strings[4]).isnumeric()) & (strip_text(strings[5]).isnumeric()):
        rates.at[suburb, "oldunit"] = strip_text(strings[5])
        rates.at[suburb, "newunit"] = strip_text(strings[4])
        strings = strings[6:]
    else:
        print(strings)
        strings = strings[4:]    
    while (strip_text(strings[0]).isnumeric()) & (len(strings) > 1):
        strings = strings[1:]
    if len(strings) > 1:
        analyse_content(strings)

def analyse_content(string_list):
    suburb = string_list[0]
    try:
        fill_table(suburb, string_list[1:])
    except:
        print(suburb, string_list[1:])

with open("./rates.pdf", "rb") as file:
    pdf = PyPDF2.PdfFileReader(file)
    pages = pdf.getNumPages()
    for page_no in range(pages):
        page = pdf.pages[page_no]
        content = page.extractText()
        refined_content = [x.strip() for x in content.split("\n") if x.strip() != ""]
        refined_content = refined_content[len(refined_content) - refined_content[::-1].index("(%)"):]
        print("analyse page", page_no)
        analyse_content(refined_content)

rates

analyse page 0
analyse page 1
analyse page 2
['2,065', '2,109', '44', '2%', 'Taylor', '2,547', '2,441', '-', '106', '-', '4%', '1,779', '1,761', '-', '18', '-', '1%', 'Tharwa', '2,064', '2,087', '22', '1%', 'Theodore', '2,142', '2,196', '55', '3%', '1,885', '1,935', '50', '3%', 'Throsby', '2,588', '2,598', '9', '0%', '2,098', '2,122', '25', '1%', 'Torrens', '3,373', '3,597', '223', '7%', '2,341', '2,449', '108', '5%', 'Turner', '7,517', '7,729', '212', '3%', '1,833', '1,897', '64', '3%', 'Uriarra Village', '2,060', '2,093', '33', '2%', 'Wanniassa', '2,320', '2,374', '53', '2%', '1,973', '2,022', '49', '2%', 'Waramanga', '2,728', '2,896', '169', '6%', '2,024', '2,074', '50', '2%', 'Watson', '3,222', '3,348', '127', '4%', '1,668', '1,729', '61', '4%', 'Weetangera', '3,720', '3,694', '-', '25', '-', '1%', '2,453', '2,556', '104', '4%', 'Weston', '2,744', '2,903', '158', '6%', '2,005', '2,059', '54', '3%', 'Whitlam', '2,620', '2,572', '-', '48', '-', '2%', 'Wright', '2,818', '2,875', '57', '2%', '1,247', '1,281', '34', '3%', 'Yarralumla', '7,098', '7,440', '342', '5%', '4,489', '4,824', '335', '7%']
['2,547', '2,441', '-', '106', '-', '4%', '1,779', '1,761', '-', '18', '-', '1%', 'Tharwa', '2,064', '2,087', '22', '1%', 'Theodore', '2,142', '2,196', '55', '3%', '1,885', '1,935', '50', '3%', 'Throsby', '2,588', '2,598', '9', '0%', '2,098', '2,122', '25', '1%', 'Torrens', '3,373', '3,597', '223', '7%', '2,341', '2,449', '108', '5%', 'Turner', '7,517', '7,729', '212', '3%', '1,833', '1,897', '64', '3%', 'Uriarra Village', '2,060', '2,093', '33', '2%', 'Wanniassa', '2,320', '2,374', '53', '2%', '1,973', '2,022', '49', '2%', 'Waramanga', '2,728', '2,896', '169', '6%', '2,024', '2,074', '50', '2%', 'Watson', '3,222', '3,348', '127', '4%', '1,668', '1,729', '61', '4%', 'Weetangera', '3,720', '3,694', '-', '25', '-', '1%', '2,453', '2,556', '104', '4%', 'Weston', '2,744', '2,903', '158', '6%', '2,005', '2,059', '54', '3%', 'Whitlam', '2,620', '2,572', '-', '48', '-', '2%', 'Wright', '2,818', '2,875', '57', '2%', '1,247', '1,281', '34', '3%', 'Yarralumla', '7,098', '7,440', '342', '5%', '4,489', '4,824', '335', '7%']
['4%', '1,779', '1,761', '-', '18', '-', '1%', 'Tharwa', '2,064', '2,087', '22', '1%', 'Theodore', '2,142', '2,196', '55', '3%', '1,885', '1,935', '50', '3%', 'Throsby', '2,588', '2,598', '9', '0%', '2,098', '2,122', '25', '1%', 'Torrens', '3,373', '3,597', '223', '7%', '2,341', '2,449', '108', '5%', 'Turner', '7,517', '7,729', '212', '3%', '1,833', '1,897', '64', '3%', 'Uriarra Village', '2,060', '2,093', '33', '2%', 'Wanniassa', '2,320', '2,374', '53', '2%', '1,973', '2,022', '49', '2%', 'Waramanga', '2,728', '2,896', '169', '6%', '2,024', '2,074', '50', '2%', 'Watson', '3,222', '3,348', '127', '4%', '1,668', '1,729', '61', '4%', 'Weetangera', '3,720', '3,694', '-', '25', '-', '1%', '2,453', '2,556', '104', '4%', 'Weston', '2,744', '2,903', '158', '6%', '2,005', '2,059', '54', '3%', 'Whitlam', '2,620', '2,572', '-', '48', '-', '2%', 'Wright', '2,818', '2,875', '57', '2%', '1,247', '1,281', '34', '3%', 'Yarralumla', '7,098', '7,440', '342', '5%', '4,489', '4,824', '335', '7%']
['2,060', '2,093', '33', '2%', 'Wanniassa', '2,320', '2,374', '53', '2%', '1,973', '2,022', '49', '2%', 'Waramanga', '2,728', '2,896', '169', '6%', '2,024', '2,074', '50', '2%', 'Watson', '3,222', '3,348', '127', '4%', '1,668', '1,729', '61', '4%', 'Weetangera', '3,720', '3,694', '-', '25', '-', '1%', '2,453', '2,556', '104', '4%', 'Weston', '2,744', '2,903', '158', '6%', '2,005', '2,059', '54', '3%', 'Whitlam', '2,620', '2,572', '-', '48', '-', '2%', 'Wright', '2,818', '2,875', '57', '2%', '1,247', '1,281', '34', '3%', 'Yarralumla', '7,098', '7,440', '342', '5%', '4,489', '4,824', '335', '7%']
['3,720', '3,694', '-', '25', '-', '1%', '2,453', '2,556', '104', '4%', 'Weston', '2,744', '2,903', '158', '6%', '2,005', '2,059', '54', '3%', 'Whitlam', '2,620', '2,572', '-', '48', '-', '2%', 'Wright', '2,818', '2,875', '57', '2%', '1,247', '1,281', '34', '3%', 'Yarralumla', '7,098', '7,440', '342', '5%', '4,489', '4,824', '335', '7%']
['1%', '2,453', '2,556', '104', '4%', 'Weston', '2,744', '2,903', '158', '6%', '2,005', '2,059', '54', '3%', 'Whitlam', '2,620', '2,572', '-', '48', '-', '2%', 'Wright', '2,818', '2,875', '57', '2%', '1,247', '1,281', '34', '3%', 'Yarralumla', '7,098', '7,440', '342', '5%', '4,489', '4,824', '335', '7%']
['2,620', '2,572', '-', '48', '-', '2%', 'Wright', '2,818', '2,875', '57', '2%', '1,247', '1,281', '34', '3%', 'Yarralumla', '7,098', '7,440', '342', '5%', '4,489', '4,824', '335', '7%']

           oldhouse newhouse oldunit newunit
suburb
Ainslie        4700     4917    3477    3363
Amaroo         2294     2448    1920    1868
Aranda         4000     4114    2585    2493
Banks          2040     2096    2028    1995
Barton         7901     8170    2211    2137
...             ...      ...     ...     ...
Watson         3222     3348    1729    1668
Weetangera     3720     3694     NaN     NaN
Weston         2744     2903    2059    2005
Whitlam        2620     2572     NaN     NaN
Yarralumla     7098     7440    4824    4489

[105 rows x 4 columns]

In [147]:
rates.to_csv("rates.csv")